:root {
  /* Estructura */
  min-height: 100%;
  font-family: "Inter", sans-serif;

  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Game cell */
  --cell-size: 48px;
  --cell-gap: 8px;
  --cell-border-width: 2px;
  --cell-border-color: #888;
  --cell-font-size: 1.5rem;

  --color-correct: #6aaa64;
  --color-elsewhere: #c9b458;
  --color-absent: #787c7e;
  --color-empty: white;
  --color-active-border: #565758;

  --color-error: #ff6b6b;

  /* Títulos */
  --color-title-1: var(--dark);
  --color-title-2: var(--dark);
  --wordle: #5a9a54;
  --dark: #223920;

  /* Extras visuales */
  --accent-color: white;
  --transition-duration: 0.2s;

  --key: rgba(200, 200, 200, 0.85);
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: linear-gradient(135deg, #e0f2f1 0%, #c8eab5 50%, #a1d79d 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
